{% extends 'base.html.twig' %}

{% block title %}Редактирование\{{course.name}}\Курсы\StudyOn{% endblock %}
{% block nav %}
    <li class="breadcrumb-item" aria-current="page"><a href="/courses">Курсы</a></li>
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('app_course_show', {'char_code': course.getCharCode()}) }}">{{course.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#">Редактирование</a></li>
{%endblock%}
{% block body %}
    <h1>Редактировать курс</h1>
    <div class="flex-row justify-content-center">
        {{ include('course/_form.html.twig') }}
    </div>
    <div class="p-3">
        <a href="{{ path('app_course_index') }}" class="btn btn-secondary">
                К списку курсов.
        </a>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3">
        {{ include('course/_delete_form.html.twig') }}
    </div>
{% endblock %}
