<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body style="background: white;">
    <nav class="navbar navbar-light bg-light p-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">StudyOn</a></li>
            {% block nav %}{% endblock %}
        </ol>
        <ul class="nav nav-pills">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a type="button" class="btn btn-info" href="{{ path('app_profile') }}">Профиль</a>
                            <a type="button" class="btn btn-outline-danger" href="{{ path('app_logout') }}">Выход</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a type="button" class="btn btn-outline-primary" href="{{ path('app_login') }}">Авторизация</a>
                            <a type="button" class="btn btn-success" href="{{ path('app_register') }}">Регистрация</a>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
